@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    /* background-color: hsl(220, 15%, 55%); */
    background-color: hsl(212, 45%, 89%);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 96vh;
    padding: 60px;
    /* border: 3px dashed red; */
}

div.main-qr-card {
    width: 26%;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
    min-height: 30rem;
    margin: 0 auto;
    text-align: center;
}

div.qr-card {
    max-width: 100%;
    min-height: 290px;
    position: relative;
}

div.qr-card img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (width <= 375px) {
    body {
            /* background-color: hsl(220, 15%, 55%); */
            background-color: hsl(212, 45%, 89%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 96vh;
            padding: 40px 20px;
            /* border: 3px dashed red; */
        }

    div.qr-card {
        max-width: 100%;
        min-height: 285px;
        position: relative;
    }

    div.qr-card img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
    }
}